[Unit]
Description=Squall Bittorrent Client Daemon
Documentation=man:deluged
After=network-online.target

[Service]
Type=simple
User=debian-squall-daemon
Group=debian-squall-daemon
UMask=007

EnvironmentFile=-/etc/default/squall-daemon
ExecStart=/usr/bin/deluged -d

Restart=on-failure

# Time to wait before forcefully stopped.
TimeoutStopSec=300

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/var/log/squall-daemon /var/lib/squall-daemon

[Install]
WantedBy=multi-user.target
