[Unit]
Description=Squall Bittorrent Client Web Interface
Documentation=man:squall-web
After=squalld.service
Wants=squalld.service

[Service]
Type=simple
User=debian-squall-web
Group=debian-squall-web
UMask=027

EnvironmentFile=-/etc/default/squall-web
ExecStart=/usr/bin/squall-web -d

Restart=on-failure

NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
ReadWritePaths=/var/log/squall-web /var/lib/squall-web

[Install]
WantedBy=multi-user.target
