[Unit]
Description=Squall Bittorrent Client Daemon
Documentation=man:squalld
After=network-online.target

[Service]
Type=simple
UMask=022

# Isolate from the invoking user's ~/.local site-packages so the dh-virtualenv
# venv (built with --use-system-packages) doesn't pick up conflicting bindings.
Environment=PYTHONNOUSERSITE=1

ExecStart=/usr/sbin/squalld -d
Restart=on-failure

# Time to wait before forcefully stopped.
TimeoutStopSec=300

NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes

[Install]
WantedBy=default.target
